{% extends "base.html" %}
{% block titulo %} Ver lista de amigos {% endblock %}
{% block contenido_principal %}
<!-- Búsqueda -->

<h2>Amigos</h2>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>

            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for amigo in amigos %}
        <tr>
            <td>{{ amigo.amigo_2.nombre }}</td>
            <td>{{ amigo.amigo_2.apellidos }}</td>
            <td>{{ amigo.amigo_2.email }}</td>


        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div class="row text-center">
    <ul class="pagination">
        {% for pagina in paginas %}
        <li class = "page-item" id ="pi-{{pagina}}">
            <a class = "page - link" href = "/amigos?pg={{pagina}}">{{ pagina }}</a>
        </li>
        {% endfor %}
        <script>
            $("#pi-" + "{{actual}}").addClass("active");
        </script>
    </ul>
</div>
{% endblock %}
